









/*-------------------global class---------------------------------------------------------------------*/
* {
    /*it means all the margin padding border would be 0 , if we want some kind of styling we can define separately*/
margin:0;
padding:0;
border:0;
/*it will remove the default underline from the text*/
text-decoration: none;
/*Removing dots from the list*/
list-style: none;
box-sizing: border-box;
}

:root {
    /*root create a global class for  colour where we can use colour again n again with ease and it will create
    variable ofcolour*/
--color-primary: #6c63ff;
--color-success: #00bf8e;
--color-warning: #f7c94b;
--danger: #f75842;
--danger-variant: rgba(247, 88, 66, 0.4);
--white: #ffffff;
--color-light: rgba(255, 255, 255, 0.7);
--black: #000000;
--color-bg: #1f2641;
--color-bg1: #2e3267;
--color-bg2: #424890;

/*---- making a default container width and transition to use with an ease-----*/
--container-width-lg: 80%;
--container-width-md: 90%;
--container-width-sm: 94%;

--transition: all 400ms ease;

}

body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    color:var(--white);
    background: var(--color-bg);
}

.container{
    width: var(--container-width-lg);
    /*because i want the container on the middle of the website because the content of the website is in the 
    container*/
    margin: 0 auto;
}

section{
    /*6 rem means 6*16pixels because 1 rem = 16 pixels*/
    padding: 6rem 0;

}

section h2{
    text-align: center;
    margin-bottom: 4rem;

}

h1, h2, h3, h4, h5{
    line-height: 1.2;
}
h1{
    font-size: 2.4rem;
}

h2{
    font-size: 2rem;
}

h3{
font-size: 1.6rem;

}

h4{
    font-size: 1.3rem;
}

a{
    color:var(--white)
}

img{
    width: 100%;
    display: block;
    object-fit: cover;
}

.btn{
    display: inline-block;
    color:var(--black);
    background: var(--white);
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition:var(--transition);
    border-radius: 20px;
}

.btn:hover{
    background:transparent;
    color:var(--white);
    border-color: var(--white);
}

.btn-primary{
    background: var(--danger);
    color: var(--white);
}
/*------x--------x-----global class-----------x-------------x-----------------x-----------------x-----------*/


/*---------------------------nav-----------------------------------------------------------------------*/
nav{
    background: transparent;
    /*100vw means entire width of the container*/
    width: 100vw;
    height: 80px;
    /*the nav bar position is fixed because whenever we try to scroll down the page the nav bar remains at page. it
    should be seen through all the time*/
    position: fixed;
    /*top is 0 means it will always remain on the top*/
    top:0;
    z-index: 11;
}

.nav-container{
    height: 100%;
    /*flex move the things to grid pattern*/
    display: flex;
    /*give a space on the nav menu contents*/
    justify-content: space-between;
    align-items: center;
}

nav button{
    display: none;
}

/*In NAV MENU the ul list present in the menu got styled*/
.nav-menu{
    display: flex;
    align-items: center;
    gap: 4rem;
}

.nav-menu a{
    font-size: 0.9rem;
    /*for smooth transition*/
    transition: var(--transition);
    
}

.nav-menu a:hover{
    color:var(--color-bg2);
}

/*=========================nav bar==========================================================================*/

/*------------------------------header---------------------------------------------------------*/
header{
    position:relative;
    /*to push it dowm form under the nav bar*/
    top: 5rem;
    overflow: hidden;
    height: 50vw;
    margin-bottom: 5rem;

}

.header-container{
    /*display has been given grid because there are two elements which i want to show on both left and right side*/

display: grid;
/*1 fr means 1 fraction = 50%*/
grid-template-columns: 1fr 1fr;
align-items: center;
gap: 5rem;
height: 70%;
}

.header-left p{
    margin: 1rem 0 2.4rem;
}

/*===================header====================================================*/

/*----------------------Category-------------------------------------------------------------------------------*/
.categories{
    background: var(--color-bg1);
    height: 29rem;
}

.categories h1{
    line-height: 1;
    margin-bottom: 3rem;
}

.categories-container{
    display: grid;
    grid-template-columns: 40% 60%;
    
}

.categories-left{
    margin-right: 4rem;
}



.categories-left p {
    margin: 1rem 0 3rem;
}

.categories-right {
    display: grid;
    /*repeat here given because i want to repeat three articles in one grid row with 1 fraction each*/
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
}

/*Category class work only on category right side*/

.category {
    background:  var(--color-bg2);
    padding: 2rem;
    border-radius: 2rem;
    transition: var(--transition);
}

.category:hover {
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.category-icon{
    background: var(--color-primary);
    padding: 1.7rem;
    border-radius: 0.9rem;
}

.category h5{
    margin: 2rem 0 1rem;

}

.category p{
    font-size: 0.85rem;
}
/*=====================Category==================================================================*/