/*=========================================Making responsive website for all devices=======================
===========================================================================================================*/

/*------------------------------------------TABLET VIEW---------------------------------*/
@media screen and (max-width: 1024px) {
   .container {
    width: var(--container-width-md);
   }
   h1 {
    font-size: 2.2rem;
   }
   h2 {
    font-size: 1.7rem;
   }

   h3 {
    font-size: 1.4rem;
   }

   h4 {
    font-size: 1.2rem;
   }

   /*NAVBAR*/
   nav button {
    display: inline-block;
    background: transparent;
    font-size: 1rem;
    color: white;
    cursor: pointer;
   }

   nav button .close-menu-btn {
    display: none;
   }

   .nav-menu {
    /*nav menu is creating  as a column wise */
    position: relative;
    top: 5rem;
    /*right is 5% because the container size is 90% and it gives margin from both right side and
    left side 5% each*/
    right: 5%;
    height: fit-content;
    width: 18rem;
    flex-direction: column;
    gap: 0;
    display: none;
   }
  
   .nav-menu li {
    width: 70%;
    height: 5.8rem;
    animation: animateNavItems 400s linear forwards;
    transform-origin: top right;
    opacity: 0;
 
   }

   .nav-menu li:nth-child(2) {
    animation-delay: 200ms;
   }
   .nav-menu li:nth-child(3) {
    animation-delay: 400ms;
   }
   .nav-menu li:nth-child(4) {
    animation-delay: 600ms;
   }
   /*To add animation on the menu bar */
   

   @keyframes animateNavItems {
    0% {
        transform:rotateZ(-90deg) rotateX(90deg) scale(0.1);
    

    }

    100%{

        transform:rotateZ(-90deg) rotateX(0) scale(1);
        opacity: 1;
    

    }
   }


   .nav-menu li a {
    background: var(--color-primary);
    box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6);
    width: 70%;
    height: 70%;
    display: grid;
    place-items: center;
   }
   .nav-menu li a:hover {
    background: var(--color-bg2);
    color: var(--white)
   }

   /*------header-------------------*/
   header {
    height: 52vw;
    margin-bottom: 4rem;
   }

   .header-container {
    gap: 0;
    padding-bottom: 3rem;

   }

   /*------------------categories section------------------------------*/
   .categories {
    height: auto;
   }

   .categories-container {
    grid-template-columns: 1fr;
    gap: 3rem;
   }

   .categories-left {
    margin-right: 0;
   }

   /*Popular courses*/
   .courses {
    margin-top: 0;
   }

   .courses-container {
    grid-template-columns: 1fr 1fr;
   }

   /*----FAQ------*/
   .faqs-container {
    grid-template-columns: 1fr;
   }
   .faq {
    padding: 1.5rem;
   }

   /*---Footer-----*/
   .footer-container {
    grid-template-columns: 1fr 1fr;
   }
}



/*----------------------------------MOBILE VIEW-------------------------------------------------------------*/

@media screen and (max-width: 600px) {
    .container {
        width: var(--container-width-sm);

    }

    /*NAVBAR*/
    .nav-menu {
        right: 3%;
    }

    /*HEADER*/
    header {
        height: 100vw;

    }

    .header-container {
        grid-template-columns: 1fr;
        text-align: center;
        margin-top: 0;
    }

    .header-left p{
        margin-bottom: 1.3rem;
    }

    /*Categories*/
    .categories-right {
        grid-template-columns: 1fr 1fr;
        gap: .7rem;
    }

    .category {
        padding: 1rem;
        border-radius: 1rem;
    }

    .category-icon {
        margin-top: 4px;
        display: inline-block;
    }

    /*Popular courses section*/
    .courses-container {
        grid-template-columns: 1fr;

    }

    /*Testimonial*/
    .testimonial-body {
        padding: 1.2rem;
    }

    /*Footer*/
    .footer-container {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 2rem;
    }

    .footer-1 p{
      margin: 1rem auto;
    }

    .footer-socials {
        justify-content: center;
    }
}


/*===========================================================================================================
=============================================================================================================*/





/*-------------------global class---------------------------------------------------------------------*/
* {
    /*it means all the margin padding border would be 0 , if we want some kind of styling we can define separately*/
margin:0;
padding:0;
border:0;
/*it will remove the default underline from the text*/
text-decoration: none;
/*Removing dots from the list*/
list-style: none;
box-sizing: border-box;
}

:root {
    /*root create a global class for  colour where we can use colour again n again with ease and it will create
    variable ofcolour*/
--color-primary: #6c63ff;
--color-success: #00bf8e;
--color-warning: #f7c94b;
--danger: #f75842;
--danger-variant: rgba(247, 88, 66, 0.4);
--white: #ffffff;
--color-light: rgba(255, 255, 255, 0.7);
--black: #000000;
--color-bg: #1f2641;
--color-bg1: #2e3267;
--color-bg2: #424890;

/*---- making a default container width and transition to use with an ease-----*/
--container-width-lg: 80%;
--container-width-md: 90%;
--container-width-sm: 94%;

--transition: all 400ms ease;

}

body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    color:var(--white);
    background: var(--color-bg);
}

.container{
    width: var(--container-width-lg);
    /*because i want the container on the middle of the website because the content of the website is in the 
    container*/
    margin: 0 auto;
}

section{
    /*6 rem means 6*16pixels because 1 rem = 16 pixels*/
    padding: 6rem 0;

}

section h2{
    text-align: center;
    margin-bottom: 4rem;

}

h1, h2, h3, h4, h5{
    line-height: 1.2;
}
h1{
    font-size: 2.4rem;
}

h2{
    font-size: 2rem;
}

h3{
font-size: 1.6rem;

}

h4{
    font-size: 1.3rem;
}

a{
    color:var(--white)
}

img{
    width: 100%;
    display: block;
    object-fit: cover;
}

.btn{
    display: inline-block;
    color:var(--black);
    background: var(--white);
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition:var(--transition);
    border-radius: 20px;
}

.btn:hover{
    background:transparent;
    color:var(--white);
    border-color: var(--white);
}

.btn-primary{
    background: var(--danger);
    color: var(--white);
}
/*------x--------x-----global class-----------x-------------x-----------------x-----------------x-----------*/


/*---------------------------nav-----------------------------------------------------------------------*/
nav{
    background: transparent;
    /*100vw means entire width of the container*/
    width: 100vw;
    height: 80px;
    /*the nav bar position is fixed because whenever we try to scroll down the page the nav bar remains at page. it
    should be seen through all the time*/
    position: fixed;
    /*top is 0 means it will always remain on the top*/
    top:0;
    z-index: 11;
}

.nav-container{
    height: 100%;
    /*flex move the things to grid pattern*/
    display: flex;
    /*give a space on the nav menu contents*/
    justify-content: space-between;
    align-items: center;
}

nav button{
    display: none;
}

/*In NAV MENU the ul list present in the menu got styled*/
.nav-menu{
    display: flex;
    align-items: center;
    gap: 4rem;
}

.nav-menu a{
    font-size: 0.9rem;
    /*for smooth transition*/
    transition: var(--transition);
    
}

.nav-menu a:hover{
    color:var(--color-bg2);
}

/*changing nav bar styling  on scroll using java script*/
.window-scroll {
    /*background colour while scrolling*/
background: var(--color-primary);
box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

/*=========================nav bar==========================================================================*/

/*------------------------------header---------------------------------------------------------*/
header{
    position:relative;
    /*to push it dowm form under the nav bar*/
    top: 5rem;
    overflow: hidden;
    height: 50vw;
    margin-bottom: 5rem;

}

.header-container{
    /*display has been given grid because there are two elements which i want to show on both left and right side*/

display: grid;
/*1 fr means 1 fraction = 50%*/
grid-template-columns: 1fr 1fr;
align-items: center;
gap: 5rem;
height: 70%;
}

.header-left p{
    margin: 1rem 0 2.4rem;
}

/*===================header====================================================*/

/*----------------------Category-------------------------------------------------------------------------------*/
.categories{
    background: var(--color-bg1);
    height: 33rem;
}

.categories h1{
    line-height: 1;
    margin-bottom: 3rem;
}

.categories-container{
    display: grid;
    grid-template-columns: 40% 60%;
    
}

.categories-left{
    margin-right: 4rem;
}



.categories-left p {
    margin: 1rem 0 3rem;
}

.categories-right {
    display: grid;
    /*repeat here given because i want to repeat three articles in one grid row with 1 fraction each*/
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
}

/*Category class work only on category right side*/


.category {
    background:  var(--color-bg2);
    border-radius: 2rem;
    padding: 1rem;
    transition: var(--transition);
   
}



.category:hover {
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.category-icon{
    background: var(--color-primary);
   padding: .8rem .8rem;
    border-radius: 0.9rem;
}

.category h5{
    margin: 2rem 0 1rem;

}

.category p{
    font-size: 0.85rem;
}
/*to give the orange colour to the second article  icon*/
.category:nth-child(2) .category-icon{
    background: var(--danger);
}
/*to give the green colour to the third article  icon*/
.category:nth-child(3) .category-icon{
    background: var(--color-success);
}
/*to give the yellow colour to the fourth article  icon*/
.category:nth-child(4) .category-icon{
    background: var(--color-warning);
}
/*to give the greencolour to the fifth article  icon*/
.category:nth-child(5) .category-icon{
    background: var(--color-success);
}
/*=====================Category==================================================================*/

/*--------------------------------------Our popular courses-------------------------------------------*/
.courses {
    margin-top: 10rem;
}

.courses-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

/*Each class of course styling*/
.course {
    background: var(--color-bg1);
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);

}

.course:hover {
    /*when hover effect will start the background will become transparent*/
    background: transparent;
    border-color: var(--color-primary);
}

.courses-info {
    padding: 3rem;
}

.courses-info p{
    margin: 1.2rem 0 2rem;
    font-size: 0.9rem;

}

/*======================================Our Popular Courses===============================================*/


/*-----------------------------------FAQS-------------------------------------------------------------*/
.faqs {
    background: var(--color-bg1);
    /*box -shadow has been given inside of the section with 0 x-axiss and y-axis with rgba black with 
    transparency 0.5*/

    /*If we remove inset the box shdow shows outside the section of faq*/
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
}

.faqs-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
/*now each article got styling*/
.faq {
padding: 2rem;
display: flex;
align-items: center;
gap: 1.4rem;
height: fit-content;
background: var(--color-primary);
cursor: pointer;
}

.faq h4{
    font-size: 1rem;
    line-height: 2.2rem;
}

.faq-icon {
    align-self: flex-start;
    font-size: 1.2rem;
}

.faq p{
    margin-top: .8rem;
    /*here display has been given none because i want to hide the paragraph whenever anybody open my webiste*/
    display: none;
}

.faq.open p{
    display: block;
}

/*====================================FAQS=================================================================*/

/*-------------------------Testimonial container---------------------------------------------------------*/
.testimonial-container {
   overflow: hidden;
   position: relative;
   margin-bottom: 5rem;

}

.testimonial {
    padding-top: 2rem;
}

.avatar {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 1rem;
    border: 1rem solid var(--color-bg1);
    cursor:pointer;
}

.testimonial-inf0 {
    text-align: center;
}

.testimonial-body{
    background: #4338ca;
    padding: 2rem;
    margin-top: 3rem;
    /*position relative has been given because to show the psuedo elemnet at the css design because when i have given
    psuedo element -1.5rem top it disappears from the screen*/
    position: relative;
    cursor: grab;
}

/*A CSS pseudo-element is used to style specified parts of an element.

For example, it can be used to:

Style the first letter, or line, of an element
Insert content before, or after, the content of an element
*/

.testimonial-body::before {
    /*here before is the psuedo elements*/
    content: "";
    /*to have a gradient effect on the block*/
    background: linear-gradient(135deg,
        transparent, #4338ca, #4338ca );

    display: block;
    width: 3rem;
    height: 3rem;
    /*it is present now the left side of the body, I want it in middle so...*/
    position: absolute;
    left: 50%;
    top: -1.5rem;

    /*Now i want this particular block in the triangle shape so..*/
    /*using transform to rotate it 45 degree*/
    transform: rotate(45deg);
}
/*=============================testimonial container=====================================================*/

/*----------------------------------FOOTER-----------------------------------------------------------------*/
footer {
    background: var(--color-bg1);
    padding-top: 5rem;
    font-size: 0.9rem;
}

.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5rem;
}

.footer-container > div h4 {
    margin-bottom: 1.2rem;
}

.footer-1 p {
    margin: 0rem 0 2rem;
}

footer ul li {
    margin-bottom: 0.7rem;
}

footer ul li:hover {
    text-decoration: underline;
}

.footer-socials {
    display:flex;
    gap: 1rem;
    font-size: 1.2rem;
    margin-top: 2rem;
}

.copyright {
    text-align: center;
    margin-top: 4rem;
    padding: 1.2rem 0;
    border-top: 1px solid var(--color-bg2);
}
/*=====================================FOOTER==============================================================*/